<%= form_for @search do |f| %>
  <div class="field">
    <%= f.text_field :city %>
    <%= f.label :city %>
  </div>
  <br>
  <div class="field">
    <%= f.text_field :state %>
    <%= f.label :state %>
  </div>
  <br>
  <div class="field">
    <%= f.text_field :zip %>
    <%= f.label :zip %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
