<!-- TODO: Allow user to elect to enter zipcode instead of city+state.  -->

<%= form_for @search do |f| %>
  <%= f.hidden_field :user_id %>
  <div class="field">
    <%= f.text_field :city, placeholder: "City" %>
  </div>
  <br>
  <div class="field">
    <%= f.text_field :state, placeholder: "State" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>
