<%= form_for @search do |f| %>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_area :city %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_area :state %>
  </div>

  <div class="field">
    <%= f.label :zip %>
    <%= f.text_area :zip %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
